<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad-Members | NIFES FUTMX</title>
    <link rel="shortcut icon" href="../../resources/NIFES LOGO PNG.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link rel="stylesheet" href="../../css/admingeneral.css">
    <link rel="stylesheet" href="../../css/admin-members.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../../resources/nifeslogo.png" alt="Nifes Logo">
            <img src="../../resources/futmxlogo.png" alt="FUT Minna Logo">
            <b>NIFES FUTMX</b>
        </div>
        <label for="navmenu" title="Menu" class="fas fa-bars label"></label>
        <input type="checkbox" id="navmenu">
        <label for="navmenu" class="cover"></label>
        <div class="menu">
            <label for="navmenu" title="Menu" class="fas fa-x label"></label>
            <a href="#" class="links" title="ad-dashboard"><i class="bi bi-grid-fill"></i><span>Dashboard</span></a>
            <a href="#" class="links" title="ad-services"><i class="bi bi-bar-chart-line-fill"></i><span>Services</span></a>
            <a href="#" class="links" title="ad-announcements"><i class="bi bi-megaphone-fill"></i><span>Announcements</span></a>
            <a href="#" class="links activenav" title="ad-members"><i class="bi bi-people-fill"></i><span>Members</span></a>            
            <div class="quickactions">
                <a href="#" onclick="logout()"><i class="fas fa-sign-out"></i>Log out</a>
            </div>
        </div>
    </nav>
    <main>
        <div class="top">
            <h3>Members</h3>
            <p id="admin-id"></p>
        </div>
        <section class="section">
            <!-- Members -->
            <div class="content" id="members">
                <div class="breadcrumb">
                    <a href="#" class="links" title="ad-dashboard">Dashboard</a> >
                    <a href="#members">Members</a>
                </div>
                <div class="main">
                    <div class="overview">                     
                        <div>
                            <b>Members</b>
                            <h2>
                                <i class="fas fa-users"></i>
                                <p id="ovmem">0</p>
                            </h2>
                            <a href="#" class="links" title="ad-members">View</a>
                        </div>
                        <div>
                            <b>Birthdays</b>
                            <h2>
                                <i class="bi bi-cake2-fill"></i>
                                <p id="ovbirth">0</p>
                            </h2>
                            <a href="#" class="links" title="ad-members">View</a>
                        </div>
                        <div>
                            <b>Services</b>
                            <h2>
                                <i class="bi bi-calendar-day-fill"></i>
                                <p id="ovserv">0</p>
                            </h2>
                            <a href="#" class="links" title="ad-services">View</a>
                        </div>
                        <div>
                            <b>Announcements</b>
                            <h2>
                                <i class="bi bi-megaphone-fill"></i>
                                <p id="ovannounce">0</p>
                            </h2>
                            <a href="#" class="links" title="ad-announcements">View</a>
                        </div>                                                                
                    </div>

                    <div class="dsec1">
                        <b>Members</b>
                        <div class="dtop">
                            <div class="dsearchcontainer">
                                <input type="search" name="searchbar" id="searchbar" placeholder="Search members...">
                                <button type="button" class="fas fa-search" title="search" onclick="searchMem()"></button>
                            </div>
                            <div class="dfilters">
                                <i class="fas fa-filter"> :</i>
                                <select name="family" id="family" title="family">
                                    <option value="allfamily">Family (all)</option>
                                    <option value="dominion">Dominion</option>
                                    <option value="beacon">Beacon</option>
                                    <option value="glory">Glory</option>
                                    <option value="rehoboth">Rehoboth</option>
                                </select>
                                <select name="unit" id="unit" title="unit">
                                    <option value="allunit">Unit (all)</option>
                                    <option value="evangelism">Evangelism Unit</option>
                                    <option value="bible-study">Bible Study Unit</option>
                                    <option value="prayer">Prayer Unit</option>
                                    <option value="tlh">TLH Unit</option>
                                    <option value="press">Press Unit</option>
                                    <option value="drama">Drama Unit</option>
                                    <option value="technical">Technical Unit</option>
                                    <option value="ushering">Ushering Unit</option>
                                    <option value="none">None</option>
                                </select>
                            </div>
                        </div>
                        <div class="dmemberlist">
                            <p class="total">Total: <span id="memnum">0</span></p>        
                            <ul class="tableheader">
                                <li>Name</li>
                                <li>Email</li>
                                <li>Family</li>
                                <li>Unit</li>
                                <li class="bi bi-star-fill"></li>
                            </ul>
                            <div class="tablecontainer" id="memcon">
                                <div class="noconcard">
                                    <i class="nocon bi bi-bell-slash-fill"></i>
                                    <i class="nocon">No contents.</i>
                                </div>
                                <!-- <div class="tabledata">
                                    <div>
                                        <aside class="img">
                                            <img src="" alt=".">
                                            <p class="imgfallback">M</p>
                                        </aside>
                                        <p>Prime Spark</p>
                                    </div>
                                    <b>example@gmail.com</b>
                                    <b>Glory</b>
                                    <b>Press</b>
                                    <b class="tdstatus badge devotee bi bi-trophy-fill"></b>
                                </div> -->
                            </div>
                        </div>
                    </div>  
                    
                    <!-- <div class="buttons">
                        <a href="#">Create Member</a>
                        <button type="button">Export CSV</button>
                    </div> -->

                    
                    <div class="last">&copy; NIFES FUT Minna - All rights reserved.<br>
                        Building tomorrow's leaders today...
                    </div>

                </div>
            </div>
        </section>
        
        <div class="loading" id="loading">
            <img src="../../resources/nifeslogo.png" alt="nifeslogo">
            <div class="rotor"></div>
        </div>
        <p class="mess" id="mess">
            <i class="fas fa-circle-check"></i>
            <span>Registration Successful</span>
        </p>
    </main>


    <script src="../../js/admin.js"></script>
    <script src="../../js/adminmembers.js"></script>
</body>
</html>