<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | NIFES FUTMX</title>
    <link rel="shortcut icon" href="../../resources/NIFES LOGO PNG.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link rel="stylesheet" href="../../css/auth.css">
</head>
<body>
    <nav>
        <div>
            <img src="../../resources/nifeslogo.png" alt="Nifes Logo">
            <img src="../../resources/futmxlogo.png" alt="FUT Minna Logo">
        </div>
        <p> NIFES FUTMX </p>
        <a href="/" title="Home"><i class="fas fa-home"></i></a>
    </nav>

    <!-- Main -->
    <main>
        <div class="div">        
            <div class="top">
                <h2>Login</h2>
                <p>Log in to access your dashboard.</p>
            </div>
            <form>
                <div>
                    <label for="logemail">Email</label>
                    <input type="email" name="logemail" id="logemail" placeholder="e.g. example@gmail.com" required>
                </div>
                <div>
                    <label for="logpswd">Password</label>
                    <input type="password" name="logpswd" id="logpswd" placeholder="e.g. *_*" minlength="8" required>                    
                    <a href="/auth/forgot-password" class="forgotpasslink">Forgot Password?</a>
                </div>
                <div>
                    <button type="button" onclick="login()">Login</button>
                    <a href="/auth/admin-login" class="alink">Login as Admin</a>
                    <p>Don't have an account? <a href="/auth/register">Register.</a></p>
                </div>
            </form>
        </div>
        <!-- Footer -->
        <footer>
            <p class="last">&copy; NIFES FUT Minna - All rights reserved.</p>
            <p class="last">Building tomorrow's leaders today...</p>
        </footer>
    </main>


    <div class="loading" id="loading">
        <img src="../../resources/nifeslogo.png" alt="nifeslogo">
        <div class="rotor"></div>
    </div>
    <p class="mess" id="mess">
        <i class="fas fa-circle-check"></i>
        <span>Registration Successful</span>
    </p>


    <script src="../../js/auth.js"></script>
</body>
</html>