

.firstsec{
    padding: 1em 0 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.firstsec a{
    flex: 1 0 46%;
}
.first-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    text-align: center;
    padding: 1em;
    border-radius: 2em;
    border: 1px solid var(--textcolor);
    color: var(--textcolor);
    font-size: .9em;
    min-height: 15em;
}
.first-a i{
    font-size: 2em;
    padding: .2em;
}
.firstsec a:hover{
    background: var(--transborder);
    border-color: var(--transborder);
}
.second-a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    border-radius: 2em;
    border: 1px solid var(--textcolor);
    color: var(--textcolor);
    font-size: .9em;
}
.firstsec a img{
    width: 100%;
    height: 15em;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
}

.details{
    width: 100%;
    height: 100%;
    border: 1px solid var(--textcolor); 
    border-radius: 1.5em;
    overflow: hidden;
}
#search{
    display: none;
}
#search:checked ~ #searchcon{
    display: flex;
}
#search:checked ~ #detailscon{
    display: none;
}
.sec{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
#searchcon{
    display: none;
}
.sec .topnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: .5em 1em;
    border-bottom: 1px solid var(--textcolor);
}
.sec input{
    display: none;
}
.sec section{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}
#all:checked ~ section .all{
    display: flex;
}
#sunday:checked ~ section .sunday{
    display: flex;
}
#tuesday:checked ~ section .tuesday{
    display: flex;
}
#thursday:checked ~ section .thursday{
    display: flex;
}
.all, .sunday, .tuesday, .thursday{
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%
}

.catfilter{
    display: flex;
    gap: .5em;
    align-items: center;
    font-weight: 600;
    padding: .5em 1em;
    font-size: .8em;
    width: 100%;
    border-bottom: 1px solid var(--textcolor);
}
.catfilter i{
    font-size: 1em;
}
.catfilter div{
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    align-items: center;
}
.catfilter div label{
    font-size: .9em;
    padding: .2em .5em;
    border-radius: 7px;
    border: 1px solid var(--textcolor);
    cursor: pointer;
}
.catfilter div label:hover{
    border-color: var(--secondarycolor);
    background: var(--secondarycolor);
    color: #fff;
}
#all:checked ~ .catfilter div label[for="all"]{
    background: var(--primarycolor);
    color: #fff;
    border-color: var(--primarycolor);
}
#sunday:checked ~ .catfilter div label[for="sunday"]{
    background: var(--primarycolor);
    color: #fff;
    border-color: var(--primarycolor);
}
#tuesday:checked ~ .catfilter div label[for="tuesday"]{
    background: var(--primarycolor);
    color: #fff;
    border-color: var(--primarycolor);
}
#thursday:checked ~ .catfilter div label[for="thursday"]{
    background: var(--primarycolor);
    color: #fff;
    border-color: var(--primarycolor);
}
.topnav label[for="search"], .topnav div button{
    font-size: .7em;
    border-radius: 50%;
    padding: .5em;
    border: 1px solid var(--textcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    color: var(--textcolor);
}
.topnav label[for="search"]:hover, .topnav div button:hover{
    border-color: var(--primarycolor);
    background: var(--primarycolor);
    color: #fff;
}
.sec .total{
    width: fit-content;
    font-weight: 600;
    font-size: .8em;
    padding: .3em .8em;
    margin: .5em 1em;
    border-radius: 10px;
    background: var(--nifesgrad);
    color: #fff;
}

.tableheader{
    display: flex;
    align-items: center;
    gap: .5em;
    padding: 0 1em;
    list-style-type: none;
    font-size: .8em;
    background: var(--lightshade);
    border-top: 1px solid var(--bordercolor);
    border-bottom: 1px solid var(--bordercolor);
}
.tableheader li{ 
    padding: .3em .8em;
    border-left: 1px solid var(--bordercolor);
    width: 30%;
    max-width: 15em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
}
.tableheader li:first-child{ 
    width: 100%;
    max-width: 100%;
    border-left: 0px solid transparent;
}
.tableheader li:last-child{ 
    max-width: 7em;
}

.tablecontainer{ 
    display: flex;
    flex-direction: column;
    gap: .3em;
    padding: .3em;
    height: 100%;
    overflow-y: auto;
    margin: .1em 0;
}

.tabledata{
    display: flex;
    align-items: center;
    padding: .3em;
    border-radius: 1em;
    border: 1px solid var(--transborder);
    gap: .5em;
    cursor: pointer;
    color: var(--textcolor);
}
.tabledata:hover{
    background: var(--transborder);
    border-color: var(--transborder);
}
.tabledata b{
    width: 30%;
    max-width: 15em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: normal;
    font-size: .9em;
    padding: 0 .4em;
}
.tabledata .tdstatus{
    text-align: center;
    padding: .3em .5em;
    max-width: 7em;
    color: #fff;
    font-size: .8em;
    font-weight: 600;
}
.tabledata div{
    display: flex;
    align-items: center;
    gap: .5em;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.tabledata div img{
    height: 10dvw;
    max-height: 2.5em;
    width: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.tabledata div p{ 
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.sec2 .topnav div{
    display: flex;
    align-items: center;
    gap: .5em;
    font-weight: 600;
    width: 100%;
    max-width: 20em;
    font-size: 1em;
    margin: 0 auto;
    cursor: pointer;
}
.sec2 .topnav div input:hover{
    background: var(--lightshade);
}
.sec2 .topnav div input{
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 1000px;
    padding: .3em .8em;
    cursor: pointer;
    border: 1px solid var(--textcolor);
    background: transparent;
    color: var(--textcolor);
}

.dlast{
    padding: 1em 0;
    display: flex;
    justify-content: center;
}
.last-a{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 2em 0 0 auto;
    padding: .5em .8em;
    border-radius: .7em;
    font-size: .8em;
    color: var(--textcolor);
    border: 1px solid var(--primarycolor);
    background: var(--primarycolor);
}
.last-a:hover{
    background: var(--secondarycolor);
    border-color: var(--secondarycolor);
}

/* Create */
form{
    margin: 1em auto;
    padding: 1em;
    border: 1px solid var(--textcolor);
    border-radius: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
form ul{
    flex: 1 0 48%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}
form ul li{
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: .3em;
    background: var(--shade);
    border-radius: 1em;
    color: var(--textcolor);
    font-size: .9em;
}
form ul li label{
    font-size: .9em;
}
form ul li input{
    background: none;
    color: var(--textcolor);
    width: 100%;
    padding: .5em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--transborder);
}

form ul li:first-child, form ul li:last-child{
    flex: 1 0 100%;
}
form ul li textarea{
    background: none;
    color: var(--textcolor);
    width: 100%;
    height: 100%;
    padding: .5em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--transborder);
}

form .dimg{
    position: relative;
    flex: 1 0 48%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: .9em;
    overflow: hidden;
    background: var(--shade);
    border-radius: 1em;
    border: 1px solid var(--backgroundcolor);
}
form .dimg input{
    display: none;
}
form .dimg label{
    padding: .5em 1em;
    font-size: .8em;
    border-radius: .7em;
    color: var(--textcolor);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0;
}
form .dimg label i{
    font-size: 2em;
}
form .dimg img{
    width: 100%;
    min-height: 15em;
    height: 100%;
    border: none;
    outline: none;
    opacity: 1;
    object-fit: cover;
    object-position: center;
}
form .dimg img:not([src]), form .dimg img[src=""], form .dimg img[src=" "]{
    opacity: 0;
}
form .dimg img:not([src]) ~ label, form .dimg img[src=""] ~ label, form .dimg img[src=" "] ~ label{
    opacity: 1;
}
form .dimg:hover{
    border-color: var(--textcolor);
}
form .btns{
    border-top: 1px solid var(--transborder);
    padding: 1em 0 0;
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    gap: 1em;
}
form .btns div{
    width: fit-content;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}
form .btns div p{
    max-width: 10em;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: .5em;
    background: var(--shade);
    border-radius: 1em;
    color: var(--textcolor);
    font-size: .9em;
}
form .btns div p label{
    flex: 1 0 100%;
    font-size: .9em;
}
form .btns div p input, form .btns div p select{
    width: fit-content;
    background: none;
    color: var(--textcolor);
    background: var(--shade);
    padding: .5em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--transborder);
}
form .btns div p input{
    flex: 1 0 40%;
    width: 100%;
}

form .btns div p:first-child{
    flex: 1 0 100%;
    font-size: .8em;
    height: fit-content;
    background: none;
    max-width: 100%;
    padding: 0;
}

form .btns button{
    margin: 0 0 0 auto;
    padding: .5em .8em;
    border-radius: .7em;
    border: 1px solid var(--primarycolor);
    background: var(--primarycolor);
    color: var(--textcolor);
    cursor: pointer;
    height: fit-content;
}
form .btns button:hover{
    background: var(--secondarycolor);
    border-color: var(--secondarycolor);
}

/* Details */
.dactions{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em 0;
    font-size: .9em;
}
.dactions a, .dactions label{
    padding: 1em;
    text-align: center;
    border-radius: 1em;
    border: 1px solid var(--textcolor);
    font-size: .9em;
    color: var(--textcolor);
    font-weight: 500;
    cursor: pointer;    
}
.dactions a:hover, .dactions label:hover{
    background: var(--primarycolor);
    border-color: var(--primarycolor);
    color: #fff;
}
.dactions a:nth-child(2){
    margin-right: auto;
}
.dactions label:nth-child(3){
    background: #aa000020;
    border-color: #a00;
    color: #a00;
}
.dactions label:nth-child(3):hover{
    background: #a00;
    border-color: #a00;
    color: #fff;
}

.space{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.dservice{
    flex: 1 0 60%;
    height: fit-content;
}
.attendrate{
    flex: 1 0 30%;
    border-radius: 2em;    
    border: 1px solid var(--textcolor);
    display: flex;
    flex-direction: column;    
    min-height: 20em;
    gap: 2em;
    padding: 1em 1.5em 2em;
}
.attendrate .container{
    display: flex;
    align-items: center;
    gap: .2em;
    height: 100%;
}
.container .cali{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-weight: 600;
    font-size: .8em;
    height: 105%;
    justify-content: space-between;
    width: 3em;
}
.container .barchart{
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-left-color: var(--textcolor);
    border-bottom-color: var(--textcolor);
    display: flex;
    align-items: end;
    gap: .5em;
    justify-content: center;
    padding: 0 1em;
}
.barchart .bar{
    width: 90%;
    height: 0%;
    background: var(--nifesgrad);
    border-radius: 10px 10px 0 0;
}
.barchart .barvalue{
    height: 0%;
    font-weight: 600;
}
.chartdetails{
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}
.chartdetails p{
    flex: 1 0;
    padding: 1em;
    gap: .3em;
    display: flex;
    flex-direction: column;
    border-radius: 1.5em;
    background: var(--lightshade);
    font-size: .8em;
}
.chartdetails p b{
    width: fit-content;
    padding: .2em .7em;
    color: #fff;
    background: var(--nifesgrad);
    border-radius: 7px;
    font-size: .9em;
    font-weight: 500;
}
.chartdetails p span{
    font-size: 1.1em;
}


/* Delete Service */
#delserv:checked ~ .delcov{
    display: block;
}
#delserv:checked ~ .delcon{
    display: flex;
}



.dmembers{
    width: 100%;
    height: 100%;
    border: 1px solid var(--textcolor); 
    border-radius: 1.5em;
    overflow: hidden;
    margin-top: 2em;
}
#dmembersearch{
    display: none;
}
#dmembersearch:checked ~ #dmembersearchcon{
    display: flex;
}
#dmembersearch:checked ~ #dmemberscon{
    display: none;
}
.sec{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
#dmembersearchcon{
    display: none;
}
.sec .topnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: .5em 1em;
    border-bottom: 1px solid var(--textcolor);
}
.sec input{
    display: none;
}
.sec section{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.topnav label[for="dmembersearch"], .topnav div button{
    font-size: .7em;
    border-radius: 50%;
    padding: .5em;
    border: 1px solid var(--textcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    color: var(--textcolor);
}
.topnav label[for="dmembersearch"]:hover, .topnav div button:hover{
    border-color: var(--primarycolor);
    background: var(--primarycolor);
    color: #fff;
}
.sec .total{
    width: fit-content;
    font-weight: 600;
    font-size: .8em;
    padding: .3em .8em;
    margin: .5em 1em;
    border-radius: 7px;
    background: var(--nifesgrad);
    color: #fff;
}
.membercontainer{
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    padding: .5em;
    max-height: fit-content;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    margin: 0 auto .2em;
}
.membercontainer .pc2 .badge{
    font-size: .9em;
}

.sec2 .topnav div{
    display: flex;
    align-items: center;
    gap: .5em;
    font-weight: 600;
    width: 100%;
    max-width: 20em;
    font-size: 1em;
    margin: 0 auto;
    cursor: pointer;
}
.sec2 .topnav div input:hover{
    background: var(--lightshade);
}
.sec2 .topnav div input{
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 1000px;
    padding: .3em .8em;
    cursor: pointer;
    border: 1px solid var(--textcolor);
    background: transparent;
    color: var(--textcolor);
}

/* Edit Service */
#editserv{
    display: none;
}
#editserv:checked ~ .editcov{
    display: block;
}
#editserv:checked ~ .editcon{
    display: flex;
}
.editcov{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    background: #00000090;
    display: none;
}
.editcon{
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 90dvw;
    max-width: 30em;
    height: 90dvh;
    max-height: fit-content;
    overflow: hidden;
    border-radius: 2em;
    display: none;
    flex-direction: column;
    gap: .5em;
    background: var(--shade);
    color: var(--textcolor);
    border: 1px solid var(--transborder);
    box-shadow: 3px 3px 6px var(--shadowcolor);
    font-size: .9em;
    animation: info 0.5s ease 1 forwards;
}
.editcon h3{
    padding: 1em;
    border-bottom: 1px solid var(--transborder);
    display: flex;
    gap: .5em;
    align-items: center;
}
.editcon h3 span{
    margin-right: auto;
}
.editcon h3 label{
    font-size: .8em;
    padding: .3em;
    border-radius: 50%;
    border: 1px solid var(--textcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
}
.editcon h3 label:hover{
    background: var(--primarycolor);
    border-color: var(--primarycolor);
}

.editcon form{
    margin: 0;
    padding: 1em;
    border: 0px solid var(--textcolor);
    border-radius: 0em;
    height: 100%;
    overflow-y: auto;
}
.editcon form ul{
    flex: 1 0 100%;
}
.editcon form ul li{
    background: var(--backgroundcolor);
}
.editcon form .dimg{
    background: var(--backgroundcolor);
    border: 1px solid transparent;
}
.editcon form .dimg:hover{
    border-color: var(--transborder);
}
.editcon form .btns div p{
    background: var(--backgroundcolor);
}
.editcon form .btns div p:first-child{
    background: none;
}
.editcon form .btns div p input, .editcon form .btns div p select{
    background: var(--backgroundcolor);
}

.editcon form .btns button{
    border-color: green;
    color: green;
    background: #00800030;
}
.editcon form .btns button:hover{
    background: green;
    border-color: green;
    color: #fff;
}