
.first-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    text-align: center;
    padding: 1em;
    margin: 2em 0;
    max-width: 15em;
    border-radius: 2em;
    border: 1px solid var(--textcolor);
    color: var(--textcolor);
    font-size: .9em;
    min-height: 15em;
    cursor: pointer;
}
.first-a i{
    font-size: 2em;
    padding: .2em;
}
.first-a:hover{
    background: var(--transborder);
    border-color: var(--transborder);
}


.announcements{
    width: 100%;
    height: 100%;
    border: 1px solid var(--textcolor); 
    border-radius: 1.5em;
    overflow: hidden;
}
#search{
    display: none;
}
#search:checked ~ #searchcon{
    display: flex;
}
#search:checked ~ #announcecon{
    display: none;
}
.sec{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
#searchcon{
    display: none;
}
.sec .topnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: .5em 1em;
    border-bottom: 1px solid var(--textcolor);
}
.sec input{
    display: none;
}
.sec section{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%
}

.topnav label[for="search"], .topnav div button{
    font-size: .7em;
    border-radius: 50%;
    padding: .5em;
    border: 1px solid var(--textcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    color: var(--textcolor);
}
.topnav label[for="search"]:hover, .topnav div button:hover{
    border-color: var(--primarycolor);
    background: var(--primarycolor);
    color: #fff;
}
.sec .total{
    width: fit-content;
    font-weight: 600;
    font-size: .8em;
    padding: .3em .8em;
    margin: .5em 1em;
    border-radius: 10px;
    background: var(--nifesgrad);
    color: #fff;
}

.tableheader{
    display: flex;
    align-items: center;
    gap: .5em;
    padding: 0 1em;
    list-style-type: none;
    font-size: .8em;
    background: var(--lightshade);
    border-top: 1px solid var(--bordercolor);
    border-bottom: 1px solid var(--bordercolor);
}
.tableheader li{ 
    padding: .3em .8em;
    border-left: 1px solid var(--bordercolor);
    width: 30%;
    max-width: 15em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
}
.tableheader li:first-child{ 
    width: 100%;
    max-width: 100%;
    border-left: 0px solid transparent;
}
.tableheader li:last-child{ 
    max-width: 6em;
    min-width: 6em;
}


.tablecontainer{ 
    display: flex;
    flex-direction: column;
    gap: .3em;
    padding: .3em;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    margin: .1em 0;
}
.tabledata{
    display: flex;
    align-items: center;
    padding: .3em;
    border-radius: 1em;
    border: 1px solid var(--transborder);
    gap: .5em;
    color: var(--textcolor);
    font-size: .9em;
}
.tabledata:hover{
    background: var(--shade);
    border-color: var(--shade);
}
.tabledata b{
    width: 30%;
    max-width: 15em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: normal;
    font-size: .9em;
    padding: 0 .4em;
}
.tabledata ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2em;
    max-width: 5.7em;
    min-width: 5.7em;
    font-size: .9em;
}
.tabledata ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    cursor: pointer;
    border-radius: 6px;
    color: var(--transborder);
    border: 1px solid var(--transborder);
    font-size: .8em;
}
.tabledata ul li:hover{
    color: var(--textborder);
    border-color: var(--primarycolor);
    background: var(--primarycolor);
}
.tabledata ul li:last-child{
    color: #a00;
    border-color: #a00;
    background: #aa000020;
}
.tabledata ul li:last-child:hover{
    color: #fff;
    border-color: #a00;
    background: #a00;
}
.tabledata div{
    display: flex;
    align-items: center;
    gap: .5em;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.tabledata div img{
    max-height: 2.5em;
    width: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.tabledata div p{ 
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sec2 .topnav div{
    display: flex;
    align-items: center;
    gap: .5em;
    font-weight: 600;
    width: 100%;
    max-width: 20em;
    font-size: 1em;
    margin: 0 auto;
    cursor: pointer;
}
.sec2 .topnav div input:hover{
    background: var(--lightshade);
}
.sec2 .topnav div input{
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 1000px;
    padding: .3em .8em;
    cursor: pointer;
    border: 1px solid var(--textcolor);
    background: transparent;
    color: var(--textcolor);
}

/* Create */
form{
    margin: 1em auto;
    padding: 1em;
    border: 1px solid var(--textcolor);
    border-radius: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
form ul{
    flex: 1 0 48%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}
form ul li{
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: .3em;
    background: var(--shade);
    border-radius: 1em;
    color: var(--textcolor);
    font-size: .9em;
}
form ul li label{
    font-size: .9em;
}
form ul li input{
    background: none;
    color: var(--textcolor);
    width: 100%;
    padding: .5em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--transborder);
}

form ul li:first-child, form ul li:last-child{
    flex: 1 0 100%;
}
form ul li textarea{
    background: none;
    color: var(--textcolor);
    width: 100%;
    height: 100%;
    padding: .5em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--transborder);
}

form .dimg{
    position: relative;
    flex: 1 0 48%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: .9em;
    overflow: hidden;
    background: var(--shade);
    border-radius: 1em;
    border: 1px solid var(--backgroundcolor);
}
form .dimg input{
    display: none;
}
form .dimg label{
    padding: .5em 1em;
    font-size: .8em;
    border-radius: .7em;
    color: var(--textcolor);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0;
}
form .dimg label i{
    font-size: 2em;
}
form .dimg img{
    width: 100%;
    min-height: 15em;
    height: 100%;
    border: none;
    outline: none;
    opacity: 1;
    object-fit: cover;
    object-position: center;
}
form .dimg img:not([src]), form .dimg img[src=""], form .dimg img[src=" "]{
    opacity: 0;
}
form .dimg img:not([src]) ~ label, form .dimg img[src=""] ~ label, form .dimg img[src=" "] ~ label{
    opacity: 1;
}
form .dimg:hover{
    border-color: var(--textcolor);
}
form .btns{
    border-top: 1px solid var(--transborder);
    padding: 1em 0 0;
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    gap: 1em;
}

form .btns p{
    max-width: 12em;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: .5em;
    background: var(--shade);
    border-radius: 1em;
    color: var(--textcolor);
    font-size: .9em;
}
form .btns p label{
    flex: 1 0 100%;
    font-size: .9em;
}
form .btns p input, form .btns p select{
    flex: 1 0;
    background: none;
    color: var(--textcolor);
    background: var(--shade);
    padding: .5em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--transborder);
}
form .btns p input{
    max-width: 4em;
}
form .btns p select{
    max-width: fit-content;
}
form .btns button{
    margin: 0 0 0 auto;
    padding: .5em .8em;
    border-radius: .7em;
    border: 1px solid var(--primarycolor);
    background: var(--primarycolor);
    color: var(--textcolor);
    cursor: pointer;
    height: fit-content;
}
form .btns button:hover{
    background: var(--secondarycolor);
    border-color: var(--secondarycolor);
}

/* Edit Announcement */
#editannounce{
    display: none;
}
#editannounce:checked ~ .editcov{
    display: block;
}
#editannounce:checked ~ .editcon{
    display: flex;
}
.editcov{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    background: #00000090;
    display: none;
}
.editcon{
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 90dvw;
    max-width: 30em;
    height: 90dvh;
    max-height: fit-content;
    overflow: hidden;
    border-radius: 2em;
    display: none;
    flex-direction: column;
    gap: .5em;
    background: var(--shade);
    color: var(--textcolor);
    border: 1px solid var(--transborder);
    box-shadow: 3px 3px 6px var(--shadowcolor);
    font-size: .9em;
    animation: info 0.5s ease 1 forwards;
}
.editcon h3{
    padding: 1em;
    border-bottom: 1px solid var(--transborder);
    display: flex;
    gap: .5em;
    align-items: center;
}
.editcon h3 span{
    margin-right: auto;
}
.editcon h3 label{
    font-size: .8em;
    padding: .3em;
    border-radius: 50%;
    border: 1px solid var(--textcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
}
.editcon h3 label:hover{
    background: var(--primarycolor);
    border-color: var(--primarycolor);
}

.editcon form{
    margin: 0;
    padding: 1em;
    border: 0px solid var(--textcolor);
    border-radius: 0em;
    height: 100%;
    overflow-y: auto;
}
.editcon form ul{
    flex: 1 0 100%;
}
.editcon form ul li{
    background: var(--backgroundcolor);
}
.editcon form .dimg{
    background: var(--backgroundcolor);
    border: 1px solid transparent;
}
.editcon form .dimg:hover{
    border-color: var(--transborder);
}
.editcon form .btns p{
    background: var(--backgroundcolor);
}
.editcon form .btns p input, .editcon form .btns p select{
    background: var(--backgroundcolor);
}
.editcon form .btns button{
    border-color: green;
    color: green;
    background: #00800030;
}
.editcon form .btns button:hover{
    background: green;
    border-color: green;
    color: #fff;
}

/* Announcement Details */
.dtabledatacover{
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000090;
}
.dinfo{   
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    max-width: 30em;
    height: 85%;
    max-height: max-content;
    display: none;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    padding: .5em;
    background: var(--shade);
    border: 1px solid var(--transborder);
    border-radius: 2em;
    box-shadow: 3px 3px 10px var(--shadowcolor);
    animation: info 0.5s ease 1 forwards;
}
.dinfo img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 1.5em;
    box-shadow: 2px 2px 5px var(--shadowcolor);
}
.dinfo .text{
    display: flex;
    flex-direction: column;
    padding: .5em;
    font-size: .9em;
}
.dinfo .description{
    display: flex;
    flex-direction: column;
    font-size: .9em;
    padding: 1em;
    background: var(--lightshade);
    border-radius: 20px;
}
.dinfo .description b{
    text-transform: uppercase;
    font-weight: 700;
}
.dinfo .description p{
    padding: .5em;
}

#announcedet{
    display: none;
}
#announcedet:checked ~ .dtabledatacover{
    display: block;
}
#announcedet:checked ~ .dinfo{
    display: flex;
}


/* Delete Announcement */
#delannounce:checked ~ .delcov{
    display: block;
}
#delannounce:checked ~ .delcon{
    display: flex;
}

