:root{
    --primarycolor: #000060;
    --secondarycolor: #ff0080;
    --nifesgradtrans: linear-gradient(150deg, #0000409a, #0000809a, #ff00609a);
    --nifesgrad: linear-gradient(135deg, var(--primarycolor), var(--secondarycolor));
    --member: var(--primarycolor);
    --acmember: var(--nifesgrad);
    --steward: linear-gradient(135deg, #cd7f32, #964b00);
    --acsteward: linear-gradient(135deg, #b1b1b1, #808080);
    --devotee: linear-gradient(135deg, #ffd700, #ff9900);
    --shadowcolor: #00000080;    
    --bordercolor: #808080;
    --transborder: #80808080;    
    --textprimarycolor: #1f1f90;

    --backgroundcolor: #0a0a0a;
    --textcolor: #ddd;
    --shade: #111;
    --lightshade: #000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}
* button{
    border: none;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
* a{
    text-decoration: none;
    transition: all 0.3s ease;
}
::-webkit-scrollbar{
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: var(--bordercolor);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--textcolor);
}
::-webkit-scrollbar-gutter{
    background-color: transparent;
}

body{
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
    box-sizing: border-box;
    height: 100dvh;
    overflow: hidden;
    display: flex;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100%;
    width: 23em;
    overflow: hidden;
    padding: 1em;
    font-size: .9em;
    background: var(--nifesgrad);
}
nav .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    border-radius: 15px;
}
nav .logo img{
    height: 2em;
    border-radius: 50%;
}
nav .logo b{
    margin-left: .5em;
}
nav .menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: .2em;
    overflow-y: auto;
    background: var(--shade);
    border-radius: 20px;
    padding: 1.5em;
}
nav .menu a{
    font-size: .9em;
    border-radius: 10px;
    color: var(--textcolor);
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-height: 3.5em;
}
nav .menu a:hover{
    background: var(--transborder);
}
nav .menu .activenav{
    background: var(--primarycolor);
    color: #fff;
}
nav .menu a i{
    scale: 1.2;
}
nav .menu div{ 
    display: flex;
    flex-direction: column;
    margin-top: auto;
    font-size: .9em;
    gap: .5em;
}
nav .menu div a{ 
    width: 100%;
    border: 1px solid var(--textcolor);
    justify-content: center;
    font-weight: 500;
}
nav .menu div a:hover{ 
    background: var(--primarycolor);
    border-color: var(--primarycolor);
    color: #fff;
}

nav input{
    display: none;
}
#navmenu:checked ~ .menu{
    right: 0;
}
#navmenu:checked ~ .cover{
    display: block;
}
nav .cover{
    display: none;
}
nav .label{
    display: none;
    margin-left: auto;
    font-size: .9em;
    padding: .5em;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--textcolor);
    color: var(--textcolor);
}
nav .label:hover{
    background: var(--primarycolor);
    border-color: var(--primarycolor);
}
nav .fa-x{
    margin-bottom: 1em;
}
nav .fa-x{
    margin-bottom: 1em;
    color: var(--textcolor);
    border: 2px solid var(--textcolor);
}
@media screen and (max-width: 800px) {
    body{
        flex-direction: column;
    }
    body{
    box-sizing: border-box;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    }
    nav .label{
        display: block;
    }
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        height: fit-content;
        width: 100%;
        overflow: hidden;
        padding: 1em 2em;
    }
    nav .logo{
        height: fit-content;
        padding: 0;
    }
    nav .cover{
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        display: none;
        background: #00000090;
        border-radius: none;
    }
    nav .menu{
        position: fixed;
        z-index: 10;
        top: 0;
        right: -110%;
        width: 100%;
        height: 100%;
        box-shadow: 3px -3px 10px var(--shadowcolor);
        max-width: 18em;
        border-radius: 0px;
        padding: 1em 2em 2em;
    }
}



.img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.img a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.img .imgfallback{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondarycolor);
    color: #fff;
    font-weight: 500;
    visibility: hidden;
}
.img img:not([src]) ~ .imgfallback, .img img[src=""] ~ .imgfallback, .img img[src=" "] ~ .imgfallback{
    visibility: visible;
}

/* Main */
main{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}
.top{
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding: 1em 2em;
    position: relative;
}
.top h3{
    color: var(--textprimarycolor);
}
.top p{
    display: none;
}


.section{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}
.content{
    flex: 1 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    gap: .1em;
}
.breadcrumb{
    padding: .2em 2.5em;
    font-size: .75em;
    font-weight: 600;
    z-index: 2;
    border-top: 1px solid var(--transborder);
    border-bottom: 1px solid var(--transborder);
}
.breadcrumb a{
    color: var(--bordercolor);
    width: max-content;
    white-space: nowrap;
}
.breadcrumb a:hover{
    text-decoration: underline;
    color: var(--textprimarycolor);
}

.main{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 1em 2em;
}

.back{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textcolor);
    border: 1px solid var(--bordercolor);
    border-radius: 50%;
    height: 2em;
    width: 2em;
    padding: .3em;
    margin-bottom: .5em;
}
.back:hover{
    background: var(--primarycolor);
    border-color: var(--primarycolor);
    color: #fff;
}

.overview{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
    padding: 1em 0;
}
.overview div{
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
    font-size: .9em;
    border-radius: 20px;
    background: var(--nifesgrad);  
}
.overview div h2{
    margin: auto 0;
    padding: .2em;
    display: flex;
    align-items: center;
    gap: .5em;
}
.overview div b{
    margin-top: auto;
    font-size: .9em;
    font-weight: 500;
}
.overview div p{
    font-size: 1.1em;
}
.overview div a{
    margin: 0 0 0 auto;
    font-size: .8em;
    padding: .3em .8em;
    border-radius: 1000px;
    background: var(--primarycolor);
    color: var(--textcolor);
    width: fit-content;
}
.overview div a:hover{
    background: var(--secondarycolor);
    color: var(--textcolor);
}
@media screen and (max-width: 700px){
    .overview{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 400px){
    .overview{
        grid-template-columns: repeat(1, 1fr);
    }
}

.alast{
    flex: 1 0 100%;
    margin: auto 0 0 auto;
    font-size: .8em;
    max-width: fit-content;
    padding: .5em .8em;
    border-radius: 10px;
    font-weight: 600;
    background: var(--primarycolor);
    color: #fff;
    text-align: center;
}
.alast:hover{
    background: var(--secondarycolor);
}

.dservice{
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    padding: .5em;
    border-radius: 2em;
    background: var(--shade);
    border: 1px solid var(--transborder);
}
.dservice a{
    flex: 1 0 20%;
    width: 100%;
    height: 100%;
    min-width: 10em;
}
.dservice a img{
    width: 100%;
    height: 100%;
    border-radius: 1.5em;
    object-fit: cover;
    object-position: center;
}
.dservice div{
    flex: 1 0 70%;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}
.dservice p{
    flex: 1 0 30%;
    padding: 1em;
    gap: .3em;
    display: flex;
    flex-direction: column;
    border-radius: 1.5em;
    background: var(--lightshade);
    font-size: .8em;
}
.dservice p b{
    width: fit-content;
    padding: .2em .7em;
    color: #fff;
    background: var(--nifesgrad);
    border-radius: 7px;
    font-size: .9em;
    font-weight: 500;
}
.dservice p span{
    font-size: 1.1em;
}
.dservice .alast{
    flex: 1 0 100%;
    margin: 0 0 0 auto;
    max-width: fit-content;
    text-align: center;
}

.member{
    background: var(--member);
    color: #fff;
}
.steward{
    background: var(--steward);
    color: #fff;
}
.acmember{
    background: var(--acmember);
    color: #fff;
}
.acsteward{
    background: var(--acsteward);
    color: #fff;
}
.devotee{
    background: var(--devotee);
    color: #fff;
}
.pending{
    padding: .3em .8em;
    border-radius: .7em;
    background: var(--nifesgrad);
    color: #fff;
    font-weight: 600;
    width: fit-content;
}
.active{
    padding: .3em .8em;
    border-radius: .7em;
    background: #080;
    color: #fff;
    font-weight: 600;
    width: fit-content;
}
.closed{
    padding: .3em .8em;
    border-radius: .7em;
    background: #c00;
    color: #fff;
    font-weight: 600;
    width: fit-content;
}

.profilecard{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    overflow: hidden;
    position: relative;
    background: var(--nifesgrad);
    margin: auto;
    border: 1px solid var(--bordercolor);
}
.profilecard img{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profilecard img:not([src]), .profilecard img[src=""], .profilecard img[src=""]{
    visibility: hidden;
}
.profilecard .imgfallback{
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilecard .imgfallback span{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin: auto;
}
.profilecard div{
    margin-top: auto;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    background: linear-gradient(to bottom,
    #00000000, #000000cc, #000000ff);
}
.profilecard div .first{
    color: #fff;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.profilecard div .first span{
    font-size: .85em;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.profilecard div .first b{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.profilecard div a{
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: .8em;
    font-weight: 600;
    padding: .3em .8em;
    border-radius: 1000px;
    background: #ffffff10;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff20;
    box-shadow: 2px 2px 5px solid var(--shadowcolor);
    color: #fff;
}
.profilecard div a:hover{
    background: var(--primarycolor);
}

.pc1{
    min-width: 12em;
    height: 15em;
    border-radius: 1.5em;
}
.pc1 .imgfallback span{
    font-size: 3em;
}
.pc1 div{
    padding: 5em .7em .7em;
    gap: .5em;
    font-size: .9em;
}

.pc2{
    min-width: 8em;
    height: 12em;
    border-radius: 1.3em;
    margin: 0;
}
.pc2 .imgfallback span{
    font-size: 2em;
}
.pc2 div{
    padding: 3em .7em .7em;
    gap: .3em;
    font-size: .8em;
}
.pc2 .status{
    font-size: .8em;
}

.badge{
    position: absolute;
    z-index: 3;
    top: .5em;
    right: .5em;
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--backgroundcolor); 
    border-radius: 50%;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 2px 2px 5px #fff inset,
    -2px -2px 5px var(--shadowcolor) inset,
    2px 2px 5px var(--shadowcolor);
}

.delinput{
    display: none
}
.delcov{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    background: #00000090;
    display: none;
}
.delcon{
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 80dvw;
    max-width: 25em;
    height: 80dvh;
    max-height: fit-content;
    overflow-y: auto;
    padding: 1em;
    border-radius: 2em;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background: var(--shade);
    color: var(--textcolor);
    border: 1px solid var(--transborder);
    text-align: center;
    box-shadow: 3px 3px 6px var(--shadowcolor);
    font-size: .9em;
    animation: info 0.5s ease 1 forwards;
}
.delcon i{
    font-size: 4em;
    color: #a00;
}
.delcon p{
    font-size: .9em;
    text-align: left;
    padding: 1em;
    border-left: 2px solid #a00;
    background: #aa000020;
}
.delcon div{
    display: flex;
    gap: 1em;
    padding-top: 1em;
    width: 100%;
}
.delcon div a, .delcon div label{
    padding: .7em;
    border-radius: 1em;
    width: 100%;
    font-size: .9em;
    border: 1px solid var(--bordercolor);
    font-weight: 500;
}
.delcon div a{
    color: #a00;
    border-color: #a00;
    background-color: #aa000020;
}
.delcon div a:hover{
    color: #fff;
    border-color: #a00;
    background-color: #a00;
}
.delcon div label:hover{
    color: #fff;
    border-color: var(--primarycolor);
    background-color: var(--primarycolor);
}


.last{
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: .7em;
    padding-top: 2em;
    margin-top: auto;
    width: 100%;
    color: var(--textcolor);
    opacity: 0.7;
}

.nocon{
    text-align: center;
}
.nocon:first-child{
    font-size: 2.5em;
}
.noconcard{
    height: 100%;
    min-height: 15em;
    width: 100%;
    color: var(--bordercolor);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .9em;
    position: relative;
}
.noconcard img{
    width: 3em;
    border-radius: 50%;
    padding: .2em;
    position: relative;
    animation: scale 1.4s infinite ease;
}
.noconcard .rotor{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    height: 4em;
    width: 4em;
    background: #fff;
    border-radius: 50%;
    border: 5px solid var(--primarycolor);
    border-top-color: var(--secondarycolor); 
    animation: rotate .7s infinite linear;
}


.loading{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: #00000090;
}
.loading img{
    width: 3em;
    border-radius: 50%;
    padding: .2em;
    position: relative;
    animation: scale 1s infinite ease;
}

.loading .rotor{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    height: 4em;
    width: 4em;
    background: #fff;
    border-radius: 50%;
    border: 6px solid var(--primarycolor);
    border-top-color: var(--secondarycolor); 
    animation: rotate .5s infinite linear;
}

.mess{
    position: absolute;
    z-index: 7;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 80%;
    max-width: 10em;
    padding: 1em;
    border-radius: 2em;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background: var(--shade);
    border: 1px solid var(--transborder);
    color: green;
    text-align: center;
    box-shadow: 3px 3px 6px var(--shadowcolor);
    font-size: .9em;
    font-weight: 600;
    animation: messinfo 4s ease 1 forwards;
}
.mess i{
    font-size: 3em;
}

@keyframes rotate {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}
@keyframes scale {
    0%, 100%{
        scale: 0.8;
    }
    50%{
        scale: 1.1;
    }
}

@keyframes info {
    from{
        top: 45%;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}
@keyframes messinfo {
    0%, 100%{
        top: 45%;
        opacity: 0;
    }
    15%{
        top: 50%;
        opacity: 1;
    }
    85%{
        top: 50%;
        opacity: 1;
    }
}
@keyframes autoscroll-3items {
    0%, 100%{
        transform: translateX(0%);
    }
    32%{
        transform: translateX(0%);
    }
    34%{
        transform: translateX(-100%);
    }
    65%{
        transform: translateX(-100%);
    }
    67%{
        transform: translateX(-200%);
    }
    98%{
        transform: translateX(-200%);
    }
}
