
.announcements{
    width: 100%;
    height: 100%;
    min-height: 25em;
    border: 1px solid var(--textcolor); 
    border-radius: 1.5em;
    overflow: hidden;
    margin-top: 2em;
}
#search{
    display: none;
}
#search:checked ~ #searchcon{
    display: flex;
}
#search:checked ~ #announce{
    display: none;
}
.sec{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
#searchcon{
    display: none;
}
.sec .topnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: .5em 1em;
    border-bottom: 1px solid var(--textcolor);
}
.sec input{
    display: none;
}
.sec section{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}
.all{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%
}

.topnav label[for="search"], .topnav div button{
    font-size: .7em;
    border-radius: 50%;
    padding: .5em;
    border: 1px solid var(--textcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    color: var(--textcolor);
}
.topnav label[for="search"]:hover, .topnav div button:hover{
    border-color: var(--primarycolor);
    background: var(--primarycolor);
    color: #fff;
}
.sec .total{
    width: fit-content;
    font-weight: 600;
    font-size: .8em;
    padding: .3em .8em;
    margin: .5em 1em;
    border-radius: 10px;
    background: var(--nifesgrad);
    color: #fff;
}

.announcecon{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: .5em;
    height: fit-content;
    width: 100%;
    overflow-y: auto;
    margin: 0 auto .3em;
}

.sec2 .topnav div{
    display: flex;
    align-items: center;
    gap: .5em;
    font-weight: 600;
    width: 100%;
    max-width: 20em;
    font-size: 1em;
    margin: 0 auto;
    cursor: pointer;
}
.sec2 .topnav div input:hover{
    background: var(--lightshade);
}
.sec2 .topnav div input{
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 1000px;
    padding: .3em .8em;
    cursor: pointer;
    border: 1px solid var(--textcolor);
    background: transparent;
    color: var(--textcolor);
}

.announcecon .card{  
    width: 13em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1.5em;
    padding: .5em;
    border: 1px solid var(--bordercolor);
}
.announcecon .card a{
    height: 15em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px var(--shadowcolor);
    border-radius: 1em;
    overflow: hidden;
}
.announcecon .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.announcecon .card .text{
    display: flex;
    flex-direction: column;
    font-size: .9em;
    padding: .5em;
    justify-content: space-between;
}
.announcecon .card .text p{
    padding: .5em;
    display: flex;
    flex-direction: column;
}
.announcecon .card .text a{
    margin: auto 0 0 auto;
    width: fit-content;
    height: fit-content;
    padding: .4em 1em;
    border-radius: 10px;
    font-size: .9em;
    color: #fff;
    background: var(--primarycolor);
    border: none;
}
.announcecon .card .text a:hover{
    background: var(--secondarycolor);
}

/* Infomation */
.dinfo{   
    width: 100%;
    max-width: 30em;
    margin: 1em auto 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2em;
    border: 1px solid var(--textcolor);
    padding: 1em;
}
.dinfo img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
    box-shadow: 2px 2px 5px var(--shadowcolor);
}
.dinfo .text{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.dinfo .description{
    display: flex;
    flex-direction: column;
    font-size: .9em;
    padding: 1em;
    background: var(--lightshade);
    border-radius: 20px;
}
.dinfo .description b{
    text-transform: uppercase;
    font-weight: 700;
}
.dinfo .description p{
    padding: .5em;
}